@import url('https://fonts.googleapis.com/css2?family=Concert+One&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Concert One', cursive;
}
body{
    display: flex;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    justify-content: center;
    align-items: center;
    
    background-color: black;
    position: relative;
}
/* body::before{
    content: "";
    position: absolute;
    bottom: -160px;
    right: -160px;
    width: 320px;
    height: 320px;
    border-radius: 50%;
    background: rgb(255,132,0);
    background: radial-gradient(circle, rgba(255,132,0,1) 0%, rgba(241,8,8,1) 72%);
    box-shadow: 0 0 105px 45px rgba(255,132,0,1);
} */
/* body::after{
    content: "";
    position: absolute;
    top: -160px;
    left: -160px;
    width: 320px;
    height: 320px;
    border-radius: 50%;
    background: rgba(63,139,251,1);
    background: radial-gradient(circle,rgba(63,139,251,1), rgba(70,226,252,1));
    box-shadow: 0 0 105px 45px rgba(63,139,251,1);
} */
/* MOON & SUN HANDLE */
.circle-top{
    position: absolute;
    top: -160px;
    left: -160px;
    width: 320px;
    height: 320px;
    border-radius: 50%;
    background: rgba(63,139,251,1);
    background: radial-gradient(circle,rgba(63,139,251,1), rgba(70,226,252,1));
    
}

.circle-top .cirle-pulse{
    position: absolute;
    background:inherit;
    border-radius: inherit;
    width: 320px;
    height: 320px;
    opacity: 0.8;
    animation: pulse 4s ease-out infinite;
    animation-delay: calc(1s * var(--i));
    box-shadow: 0 0 105px 45px rgba(63,139,251,1);
}
.circle-bottom{
    position: absolute;
    bottom: -160px;
    right: -160px;
    width: 320px;
    height: 320px;
    border-radius: 50%;
    background: rgb(255,132,0);
    background: radial-gradient(circle, rgba(255,132,0,1) 0%, rgba(241,8,8,1) 72%);
    
    
}

.circle-bottom .cirle-pulse{
    position: absolute;
    background:inherit;
    border-radius: inherit;
    width: 320px;
    height: 320px;
    opacity: 0.8;
    animation: pulse 4s ease-out infinite;
    animation-delay: calc(1s * var(--i));
    box-shadow: 0 0 105px 45px rgba(255,132,0,1);
}
@keyframes pulse {
    100% {
        transform: scale(2);
        opacity: 0;  
    }
}


/* BIRTHDAY CARD */
.container{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 10;
    max-width: 1200px;
    flex-wrap: wrap;
}
.calendar-card{
    position: relative;
    height: auto;
    width: 300px;
    background:rgba(255, 255, 255, 0.1);
    border-radius: 15px;
    box-shadow: 20px 20px 50px rgba(0, 0, 0, 0.5);
    
    border-top: 1px solid rgba(255, 255, 255, 0.5);
    border-left: 1px solid rgba(255, 255, 255, 0.5);
    backdrop-filter: blur(23px);
    transform-style: preserve-3d;
    transform: perspective(1000px);
    /* overflow: hidden; */
}
.card-content{
    background: transparent;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding: 15px;
}


.birthday-countdown{
    width: 100%;
    height: auto;
    background-color: rgba(51,24,51,0.349);
    /* background-color: rgba(51, 24, 51, 0.349); */
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    position: relative;
}
.birthday-countdown .countdown-timer{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    z-index: 5;
}
.birthday-countdown .countdown-timer h1{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-size: 22px;
    padding: 15px 5px;
    color: #fff;
    background: #833ab4;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #fcb045, #fd1d1d, #833ab4);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #fcb045, #fd1d1d, #833ab4); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    transition: 0.5s ease;
    animation: countdown-rotation 1s forwards;
}
.birthday-countdown .countdown-timer #sec{
    
}

@keyframes countdown-rotation {
    0%{
        transform: rotateX(0deg);
    }
    100%{
        transform: rotateX(360deg);
    }
}

@keyframes to-top {
    0% {
      transform: translateY(100%);
      opacity: 0;
    }
  
    100% {
      transform: translateY(0);
      opacity: 1;
    }
  }
.birthday-countdown .animal-of-age{
    height: 300px;
    width: 300px;
    position: absolute;
    z-index: 1;
}
.birthday-countdown img{
    height: 100%;
    width: 100%;
    transform: translateZ(20px);
    box-shadow: 0 0 50px 0 rgb(51 51 51 / 30%);
}
.eye {
    position: absolute;
    display: inline-block;

    border-radius: 50%;
    height: 18px;
    width: 18px;
    background: white;
    z-index: 2;
  }
.left{
    left: 107px;
    top:148px;
}
.right{
    right: 110px;
    top:148px;
}
  .eye::before { 
    position: absolute;
    transform: translate(-1%, -1%);
    width: 13px;
    height: 13px;
    background: black;
    border-radius: 50%;
    content: " ";
  }
  